<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Forgery Detection</title>
</head>
<body>
    <center>
    <h1>Inter-frame Video Forgery Detection</h1>
    <h3>Upload video</h3>
        
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="video-upload" id="selectvideo">Select a video file:</label>
        <input type="file" id="video-upload" name="video" accept="video/*">
        <button type="button" onclick="uploadVideo()">Upload</button>
    </form>

    <div id="loader" style="display: none;">
        <div class="spinner"></div>
    </div>

    <div id="video-result" style="display: none;">
        <h3>Uploaded Video Preview</h3>
        <div id="video-container">
            <video id="video-preview" width="320" height="240" controls>
                <source id="video-source" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <h3>Prediction Result</h3>
        <div class="pred">
            <p id="prediction-result"></p>
            <p id="prediction-result-class"></p>
        </div>
    </div>
        <div id="shap-feature-plots" style="display: none;">
            <table>
                <tr>
                    <td><h3>Features plot</h3></td>
                </tr>
                <tr>
                    <td><img id="feature-plot" src="" alt="Feature Plot" style="width: 100%;"></td>
                </tr>
                <tr>
                    <td><h3>SHAP plot</h3></td>
                </tr>
                <tr>
                    <td><img id="shap-plot" src="" alt="SHAP Plot" style="width: 100%;"></td>
                </tr>
            </table>
        </div>
        
    </div>
        
    </center>

    <script src="/static/index.js"></script>
</body>
</html>
